<nav th:fragment="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:th="http://www.thymeleaf.org">

    <div class="navbar">

        <a class="brand" th:href="@{/}">
            KairoLink
        </a>

        <div class="nav-links">
            <a th:href="@{/}">Home</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/dashboard}">Dashboard</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Sign in</a>
            <a sec:authorize="isAnonymous()" th:href="@{/register}">Register</a>
            <form sec:authorize="isAuthenticated()"
                  th:action="@{/logout}"
                  method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">
                <button type="submit">Sign out</button>
            </form>
        </div>

    </div>

</nav>